{% extends 'base.html' %}
{% load staticfiles %} <!-- must load static files on every template, even though it extends another template -->

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'FitTrack/fittrack_style.css' %}">
{% endblock %}

{% block pagetop-css %} cover-fittrack-home {% endblock %}

{% block page-title %}FitTrack{% endblock %}
{% block page-subtitle %}Create and track all your workouts!{% endblock %}
{% block button1 %}<a href="{% url 'fittrack' %}" class="contact-btn">Home</a>{% endblock %}
{% block button2 %}<a href="{% url 'listWorkouts' %}" class="contact-btn">Workouts</a>{% endblock %}
{% block button3 %}<a href="{% url 'fittrack' %}" class="contact-btn">Fitness and Nutrition News</a>{% endblock %}


{% block appcontent %}
    {% block templatecontent %}{% endblock %} <!-- section that all the template specific content will render within -->
{% endblock %}